.login {
    display: flex;
    flex-direction: column;
    height: 768px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: relative;
    background-color: #ffffff;
  }
  
  .login .text-title-page {
    display: inline-flex;
    height: 58px;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  
  .login .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-page-font-family);
    font-weight: var(--title-page-font-weight);
    color: var(--color-text-default-default);
    font-size: var(--title-page-font-size);
    letter-spacing: var(--title-page-letter-spacing);
    line-height: var(--title-page-line-height);
    white-space: nowrap;
    font-style: var(--title-page-font-style);
  }
  
  .login .form-log-in {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-space-600);
    padding: var(--size-space-600);
    position: relative;
    flex: 0 0 auto;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    border: 1px solid;
    border-color: var(--color-border-default-default);
  }
  
  .login .input-field {
    flex-direction: column;
    width: 272px;
    height: 70px;
    align-items: flex-start;
    gap: var(--size-space-200);
    display: flex;
    position: relative;
  }
  
  .login .label {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--body-base-font-family);
    font-weight: var(--body-base-font-weight);
    color: var(--color-text-default-default-duplicate);
    font-size: var(--body-base-font-size);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    font-style: var(--body-base-font-style);
  }
  
  .login .input {
    min-width: 240px;
    align-items: center;
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300) var(--size-space-400);
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-default-default);
    display: flex;
    position: relative;
  }
  
  .login .div {
    position: relative;
    flex: 1;
    margin-top: -0.5px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: var(--color-text-default-tertiary);
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    font-style: var(--single-line-body-base-font-style);
  }
  
  .login .button-group {
    display: flex;
    width: 272px;
    height: 60px;
    align-items: center;
    gap: var(--size-space-400);
    position: relative;
  }
  
  .login .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-300);
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--color-background-brand-default);
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-brand-default);
    color: white;
  }
  
  .login .button-2 {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: var(--color-text-brand-on-brand);
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
  }
  
  .login .text-link {
    display: flex;
    width: 272px;
    height: 22px;
    align-items: flex-start;
    position: relative;
  }
  
  .login .text-link-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--color-text-default-default-duplicate);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .login .text-link-wrapper {
    display: inline-flex;
    justify-content: center;
    height: 22px;
    align-items: flex-start;
    position: relative;
  }
  
  .login .text-link-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-link-font-family);
    font-weight: var(--body-link-font-weight);
    color: var(--color-text-default-default);
    font-size: var(--body-link-font-size);
    letter-spacing: var(--body-link-letter-spacing);
    line-height: var(--body-link-line-height);
    text-decoration: underline;
    white-space: nowrap;
    font-style: var(--body-link-font-style);
  }
  