<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1366, maximum-scale=1.0" />
    
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="./static/reset.css" />
    <link rel="stylesheet" type="text/css" href="./static/setup.css" />
    <link rel="stylesheet" type="text/css" href="./static/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="./static/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="setup" />
    <div class="setup screen">
      <header class="header">
        <h1 class="title inter-bold-black-32px">BizDraft</h1>
        <div class="frame-22 frame-6">
          <a href="https://forms.gle/sjG9nH6eVnPw5TRa9"><div class="button"><div class="button-1 single-linebody-base">専門家に相談する</div></div></a>
          <a href="https://forms.gle/9SQkoSZNek6iyf556"><img class="frame-item" src="./static/img/help-circle-2.svg" alt="Help circle" /></a>
          <a href="/logout"><img class="frame-item" src="./static/img/user-2.svg" alt="User" /></a>
        </div>
      </header>
      <form method="POST" action="/setup_save" class="main main-1 single-linebody-base">
        <div class="main main-1 single-linebody-base">
          <div class="text-heading"><div class="text-heading-1 heading">初期設定</div></div>
          <div class="text-subheading"><div class="text-subheading-1 subheading">あなたのことを教えてください</div></div>
          <div class="frame frame-6">
            <article class="input-field input-1">
              <div class="label label-2">名字</div>
              <input type="text" name="familyname" class="input input-1" value="{{data.familyname}}">
            </article>
            <article class="input-field input-1">
              <div class="label label-2">名前</div>
              <input type="text" name="firstname" class="input input-1" value="{{data.firstname}}">
            </article>
          </div>
          <div class="frame frame-6">
            <article class="input-field input-1">
              <div class="label label-2">名字（カナ）</div>
              <input type="text" name="familyname_kana" class="input input-1" value="{{data.familyname_kana}}">
            </article>
            <article class="input-field input-1">
              <div class="label label-2">名前（カナ）</div>
              <input type="text" name="firstname_kana" class="input input-1" value="{{data.firstname_kana}}">
            </article>
          </div>
          <div class="text-subheading">
            <div class="text-subheading-1 subheading">あなたの事業のことを教えてください</div>
          </div>
          <div class="main-item main-1">
            <div class="text-2"><div class="text single-linebody-base">事業形態</div></div>
            <div class="frame-2 frame-6">
              <article class="radio-field">
                <div class="checkbox-and-label">
                  <input type="radio" name="business_type" value="corporate" id="business_type_1" class="radio-2" {% if data.business_type=='corporate' %}checked{% endif %}>
                  <label for="business_type_1" class="label-1 label-2 single-linebody-base">法人</label>
                </div>
              </article>
              <article class="radio-field">
                <div class="checkbox-and-label">
                  <input type="radio" name="business_type" value="individual" id="business_type_2" class="radio-2" {% if data.business_type=='individual' %}checked{% endif %}>
                  <label for="business_type_2" class="label-1 label-2 single-linebody-base">個人事業主</label>
                </div>
              </article>
            </div>
          </div>
          <div class="main-item main-1">
            <div class="label label-2">事業名・法人名</div>
            <input type="text" name="business_name" class="input input-1" value="{{data.business_name}}">
          </div>
          <div class="main-item main-1">
            <div class="label label-2">事業所の住所／開業を予定している地域</div>
            <input type="text" name="business_address" class="input input-1" value="{{data.business_address}}">
          </div>
          <div class="frame-3 frame-6">
            <div class="input-field-1 single-linebody-base">
              <div class="label label-2">業種</div>
              <input type="text" name="business_sector" class="input input-1" value="{{business_sector}}">
            </div>
            <div class="button"><div class="button-1 single-linebody-base">検索</div></div>
          </div>
          <div class="frame-4 frame-6">
            <div class="frame-1 frame-6">
              <article class="text-1"><div class="text single-linebody-base">大分類</div></article>
              <article class="text-1"><div class="text single-linebody-base">中分類</div></article>
              <article class="text-1"><div class="text single-linebody-base">小分類</div></article>
              <article class="text-1"><div class="text single-linebody-base">分類名</div></article>
            </div>
            <div class="frame-1 frame-6">
              <article class="text-1">
                <div class="text single-linebody-base">学術研究，専門・技術サービス業</div>
              </article>
              <article class="text-1">
                <div class="text single-linebody-base">専門サービス業（他に分類されないもの）</div>
              </article>
              <article class="text-1">
                <div class="text single-linebody-base">経営コンサルタント業，純粋持株会社</div>
              </article>
              <article class="text-1"><div class="text single-linebody-base">経営コンサルタント業</div></article>
            </div>
          </div>
          <div class="frame-5 frame-6">
            <div class="frame frame-6">
              <button type="submit" name="action" value="save_temp" class="button"><div class="button-1 single-linebody-base">一時保存</div></button>
              <button type="submit" name="action" value="save_complete" class="button-2"><div class="button-3 single-linebody-base">保存して完了</div></button>
            </div>
            <div class="text-1">
              <div class="text-small body-small">全ての項目を入力しないと、「保存して完了」することはできません。</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
